<!-- FOOTER -->
    <footer class="bg-white border-t border-[#EFEAE2] px-6 py-3 text-center text-xs text-[#3D2513]/50 shrink-0 flex flex-col sm:flex-row justify-between items-center gap-2">
        <div>© 2026 <strong>Faro Cafe - Coffee Inspiration</strong>. Bảo lưu mọi quyền hệ thống.</div>
        <div class="flex space-x-4">
            <a href="#" class="hover:text-[#7A431D]">Chính sách bảo mật</a>
            <span>•</span>
            <a href="#" class="hover:text-[#7A431D]">Hỗ trợ kỹ thuật</a>
        </div>
    </footer>